html,body{
    background-image: url("https://i.pinimg.com/originals/a9/88/a4/a988a47e605cacc02b0bb41c85270de3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family:sans-serif;
}
.container{
    height: 100%;
    align-content: center;
    margin:0 auto;
    width:250px;
}

.card{
    position: fixed;
    top:120px;
    height: 50%;
    width: 80%;
    background-color: rgba(0,0,0,0.3) !important;
    border-radius: 30px;
}


.card-header h3{
    color: cornflowerblue;
    text-align: center;
    float: top;
}


.input-group-prepend span{
    width: 50px;
    height: 30px;
    background-color: cornflowerblue;
    color: black;
    border:0 !important;
}

.login_btn{
    color: white;
    background-color: cornflowerblue;
    width: 300px;
    height: 30px;
    border: red;
    text-align: center;
    float: top;
}

.login_btn:hover{
    color: white;
    background-color: skyblue;
}

.links{
    color: white;
}
.links a{
    margin-left: 4px;
}
.topnav {
    overflow: hidden;
    width: 100%;
    background-color: rgba(0,0,0,0.5) !important;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}
.topnav a.active {
    background-color: cornflowerblue;
    color: white;
}
h1{
    color: yellow;
    text-decoration: blue;
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    text-decoration: underline;
}
h2{
    color: white;
    text-align: center;
}