body {
    font-family: Arial, Helvetica, sans-serif;
        background-image: url("/resources/images/hatter.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
input[type=text],input[type=password]{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: fantasy;
    font-weight: bold;
}

table {
    border-collapse: separate;
    margin: 10px auto;
    color: black;
    width: 50%;
    top: auto;
    border: 3px solid skyblue;
}

td {
    text-align: center;
    padding: 8px;
    opacity: 40%;
}

tr:nth-child(odd){
    background-color: SteelBlue;
}

tr:nth-child(even){
    background-color: RoyalBlue;
}

h2{
    color: blue;
    font-size: 25px;
    font-family: fantasy;
    font-weight: bold;
}
.form-group{
    color: red;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25%;
    text-align:center;
}
.container-fluid{
    height: 25%;
}
.topnav {
    overflow: hidden;
    width: 100%;
    background-color: rgba(0,0,0,0.5) !important;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}
.topnav a.active {
    background-color: cornflowerblue;
    color: white;
}
ul{
    color: black;
}