@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
html,body{
    background-image: url("/resources/images/hatter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
input[type=text],input[type=password]{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25%;
}
h2{
    text-align: center;
    color: cornflowerblue;
    font-size: 45px;
    font-family: 'Indie Flower', cursive;
}
h3{
    margin-top: 10px;
    text-align: center;
    color: cornflowerblue;
    font-size: 45px;
}
#trofea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 81%;
}
.form-group{
    color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25%;
    text-align:center;
}
.container-fluid{
    height: 25%;
}
.topnav {
    overflow: hidden;
    width: 100%;
    background-color: rgba(0,0,0,0.5) !important;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}
.topnav a.active {
    background-color: cornflowerblue;
    color: white;
}
table {
    border-collapse: separate;
    margin: 10px auto;
    color: black;
    width: 50%;
    top: 40px;
    border: 3px solid skyblue;
    font-family: fantasy;
}

td {
    text-align: center;
    padding: 8px;
    opacity: 40%;
    color: black
}
td:nth-child(even){
    color: black;
}
tr:nth-child(even){
    background-color: RoyalBlue;
}

tr:nth-child(odd){
    background-color: SteelBlue;
}