html,body{
    background-image: url("https://i.pinimg.com/originals/a9/88/a4/a988a47e605cacc02b0bb41c85270de3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family:sans-serif;
}
input[type=text],input[type=password]{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25%;
}
h2{
    text-align: center;
    color: cornflowerblue;
    font-size: 45px;
    font-family: fantasy;
    text-decoration: underline;
}
h3{
    margin-top: 10px;
    text-align: center;
    color: cornflowerblue;
    font-size: 45px;
    font-family: fantasy;
}
#trofea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 81%;
}
.form-group{
    color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25%;
    text-align:center;
}
.container-fluid{
    height: 25%;
}
.topnav {
    overflow: hidden;
    width: 100%;
    background-color: rgba(0,0,0,0.5) !important;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}
.topnav a.active {
    background-color: cornflowerblue;
    color: white;
}
table {
    border-collapse: separate;
    margin: 10px auto;
    color: black;
    width: 50%;
    top: auto;
}

td {
    text-align: center;
    padding: 8px;
    opacity: 40%;
    color: springgreen
}
td:nth-child(even){
    color: gold;
}
tr:nth-child(even){
    background-color: rgba(255, 255, 255, .3);
}